[Desktop Entry]
Encoding=UTF-8
Icon=scim-skk
Type=Service
ServiceTypes=Skim/KCModule

X-KDE-ModuleType=Library
X-KDE-Library=skimplugin_scim_skk
X-KDE-ParentApp=skimplugin_scim
X-KDE-ParentComponents=skimplugin_scim
X-KDE-PluginInfo-DisplayParent=skimsetupdir_imengines
Name=SKK
Name[ja]=SKK
Comment=Configure plugin for SKK IMEngine
Comment[ja]=SKK IMEngine用設定プラグイン
